/**
 * Float Layout Activity
 **/
  
 * {
    box-sizing: border-box;
    position: relative; 
    overflow: auto;
 }
  body {
    background-image: url(../images/full-bloom.png);
    background-repeat: repeat;
    margin: 0px;
    float: left;
    width: 100%;
}

header { 
    background: white;
    width: 100%;
    height: 60px;
    margin: auto;
    float: left;
}

h1 {
    text-align: center;
    margin: 0px 30% 0px 20%;
    height: 100%;
    width: 20%;
    float: left;
    line-height: 50px;
    color: blue;
    FONT-STYLE: italic;
    FONT-SIZE: 35PX;
}

nav {
    height: 100%;
    width: 100%;
    float: left;
    margin-right: 17%;
}

nav a {
    float: left;
    margin: 1% 0%;
    padding: 1%;
}

nav a:nth-child(1) {
    margin-left: 20%;
} 

.info {
    border-left: solid 1px black;
    border-right: solid 1px black;

}

a:focus {
    float: left;

}

.container {
    width: 960px;
    margin: 0 auto;
    border-color: blue;
    border: 2px solid burlywood;
    margin-top: 10%;
    background-color: white;
}

h2 {
    border-bottom: 1px solid burlywood;
}


.my_picture {
    width: 15%;
    margin-top: 5%;
}

p {
    width: 84%;
    float: right;
    font-style: italic;
    color: red;
    margin-top: 5%;
}

footer {
    background-color: gray;
    text-align: center;
    margin-top: 10%;
    width: 100%;
    float: right;
    position: fixed;
    bottom: 0; 
}


input[type=text]  {
    border: solid 3px lemonchiffon;
    border-style: dotted;
    padding: 10px 60px;
    width: 30%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    border: solid 3px lemonchiffon;
    border-style: dotted;
    width: 30%;
    padding: 10px 60px;
    height: 170px;
}